
<div class="content" *ngIf="loaded">
    <div class="list-title">
      <div class="list-heading">
        <h1 class="heading">{{pageTitle}}</h1>
        <p class="heading-paragraph">{{description}}</p>
      </div>

      <div class="srch" *ngIf="reportPage">
        <div class="srch-bar">
          <span class="icon">
            <i class="material-icons">search</i>
          </span>
          <input 
            [(ngModel)]="searchTerm" 
            (keydown)="handleKeyDown($event)" 
            [placeholder]="'SEARCH_OBSERVATION_PLACEHOLDER' | translate"
            class="search-input"
          />
          <button *ngIf="searchTerm" aria-label="Clear" class="clear-btn" (click)="handleInput()">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>
    </div>
  
    <div class="observation-list" *ngIf="solutionListCount !== 0">

     <div class="select-filter" *ngIf="pageTitle === 'Observation Reports'">
      <mat-form-field>
        <mat-label>{{'ENTITY_FILTER' | translate}}</mat-label>
        <mat-select (selectionChange)="changeEntityType($event.value)" [(ngModel)]="selectedEntityType">
          <mat-option *ngFor="let item of entityType" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
     </div>

        <div class="grid-container">
          <div class="grid-item" *ngFor="let solution of solutionList" (click)="navigateTo(solution)">
            <mat-card class="observation-card">
              <mat-card-content>
                <div class="card-header">
                <h2 class="observation-name"><b>{{ solution?.name }}</b></h2>
                   @if(pageTitle === 'Survey'){
                    <span [ngClass]="solution?.tagClass" class="label">
                      {{ solution?.statusLabel }}
                    </span>
                   }
                </div>
                @if(pageTitle === 'Observation Reports' || pageTitle === 'Observation' ){
                  <p>{{solution?.programName}}</p>
                }
                @if(pageTitle === 'Survey'){
                  <p>{{solution?.generatedExpMsg}}</p>
                }
              </mat-card-content>
            </mat-card>
          </div>
        </div>
    </div>
    <div *ngIf="solutionListCount === 0" class="no-data-container">
      <img src ="assets/images/no_data.jpg" alt="No data" />
    </div>

    <div class="fixed-bottom-buttons" *ngIf="!(solutionListCount === 0 || solutionListCount === initialSolutionData?.length)">
      <button mat-raised-button color="accent" (click)="loadData()">{{'LOAD_MORE' | translate}}</button>
    </div>
  </div>

  <div *ngIf="isEntityFilterModalOpen" class="modal">
    <div class="modal-content">
      <header class="d-flex align-items-center">
        <h1 class="modal-title">{{'SELECT_ENTITY' | translate}}</h1>
        <mat-icon class="close-btn" (click)="closeFilter()">close</mat-icon>
      </header>
      <div>
        <ul>
          <li *ngFor="let question of allEntities; let i = index">
            <input type="checkbox" [(ngModel)]="question.selected" class="modal-input" [id]="'question-' + i" (change)="onEntityChange(i)" > 
            <label [for]="'question-' + i">
              {{ question.name }}
            </label>
          </li>
        </ul>
      </div>
      <footer class="question-footer">
        <button (click)="applyFilter()" class="apply-filter" [ngClass]="{'disabled-button': !isAnyEntitySelected}" [disabled]="!isAnyEntitySelected">{{"SUBMIT" | translate}}</button>
      </footer>
    </div>
  </div>

@if(!loaded){
  <app-spinner></app-spinner>
}
