<div class="list-title">
    <div>
        <h1 class="heading">{{"DOMAINS"|translate}}</h1>
    </div>
</div>

<div class="d-flex flex-dc gap-4" *ngIf="loaded">
    <div class="observation-list">
        <div class="grid-container">
            <ng-container>
                <div class="grid-item" *ngFor="let entity of evidences; let i = index">
                    <mat-card class="observation-card">
                        <mat-card-content>
                            <div class="card-header">
                                <div>
                                    <h2 class="observation-name">{{ entity?.name }}</h2>
                                </div>
                            </div>

                            <div class="btn-container" *ngIf="!entity?.notApplicable">
                                <div class="">
                                    <p>{{ 'STATUS' | translate }}:
                                        {{ entity?.status == 'notstarted' ? ('NOT_STARTED' | translate) : entity?.status }}</p>
                                </div>
                                <div class="">
                                    <button class="not-applicable mr-5 primary-btn" (click)="navigateToDetails(entity,i)"
                                    *ngIf="entity?.status == 'completed'">{{"VIEW" | translate}}</button>
                                    <button class="not-applicable mr-5 secondary-btn" (click)="navigateToDetails(entity,i)"
                                    *ngIf="entity?.status == 'draft'">{{"CONTINUE" | translate}}</button> 
                                <button class="not-applicable mr-5 secondary-btn" (click)="navigateToDetails(entity,i)"
                                    *ngIf="entity?.status == 'notstarted'">{{"START" | translate}}</button>
                                <button class="not-applicable primary-btn" (click)="notApplicable(entity)"
                                    *ngIf="entity?.canBeNotApplicable && entity?.status != 'completed'">{{"NOT_APPLICABLE" | translate}}</button>
                                </div>
                            </div>
                            <div class="btn-container" *ngIf="entity?.notApplicable">
                            <p>{{"NOT_APPLICABLE" | translate}}</p>
                        </div>
                        </mat-card-content>
                    </mat-card>

                </div>
            </ng-container>
            <ng-template #noData>
                <p>{{'NO_DATA_MSG' | translate}}</p>
            </ng-template>
        </div>
    </div>
</div>

<app-spinner *ngIf="!loaded"></app-spinner>


<ng-template #notApplicableModel>
    <h1 mat-dialog-title>{{"NOT_APPLICABLE" | translate}}</h1>
    <mat-dialog-content>
        <p>{{ 'ADD_REMARKS' | translate }}</p>
        <mat-form-field appearance="fill" style="width: 100%;">
            <input matInput [(ngModel)]="remark" [placeholder]="'ENTER_REMARK' | translate">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="mat-dialog-actions">
        <button [mat-dialog-close]="'confirm'" class="primary-btn"
            [disabled]="!remark" [ngClass]="{'disabled-button': !remark}">{{"CONFIRM" | translate}}</button>
        <button mat-dialog-close="cancel" class="secondary-btn">{{"CANCEL"| translate}}</button>
    </mat-dialog-actions>
</ng-template>