<div class="domain-list-title">
    <div>
      <h1 class="heading">{{ "DOMAINS" | translate }}</h1>
    </div>
    <div class="download-wrapper" *ngIf="observationDownloaded">
        <button mat-icon-button (click)="$event.stopPropagation()" class="download-btn">
            <mat-icon>check</mat-icon>
          </button>
          <p class="download-text">{{'DOWNLOADED'|translate}}</p>
    </div>
    <div class="download-wrapper" *ngIf="!observationDownloaded">
        <button mat-icon-button (click)="downloadPop()" class="download-btn">
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <p class="download-text">{{'DOWNLOAD'|translate}}</p>
    </div>
  </div>

<div class="d-flex flex-dc gap-4" *ngIf="loaded">
    <div class="observation-list">
        <div class="grid-container">
            <ng-container>
                <div class="grid-item" *ngFor="let entity of evidences; let i = index">
                    <mat-card class="observation-card" (click)="navigateToDetails(entity,i,entity.notApplicable)" [ngClass]="{ 'restrict': entity?.notApplicable === true }">
                        <mat-card-content>
                            <div class="card-header">
                                <h2 class="observation-name">{{ entity?.name }}</h2>
                                <button class="not-applicable primary-btn" *ngIf="(entity?.canBeNotAllowed && !entity.progressStatus) && !entity.notApplicable" (click)="notApplicable(entity); $event.stopPropagation()">{{'NOT_APPLICABLE' | translate}}</button>
                            </div>
                            <div class="btn-container">
                                <div>
                                  <p>{{ 'STATUS' | translate }}:
                                    {{
                                      !entity?.progressStatus 
                                        ? ('NOT_STARTED' | translate)
                                        : (entity?.progressStatus | translate)
                                    }}
                                  </p>
                                </div>
                              
                                <div class="progress-container">
                                    <div class="progress-box">
                                        <span class="progress-text">{{ entity?.isSubmitted ? 100 : (entity?.completePercentage || 0) }}%</span>
                                      
                                        <mat-progress-bar
                                          *ngIf="(entity?.isSubmitted || entity?.progressStatus === 'completed' || entity?.progressStatus === 'submitted') && !entity?.notApplicable"
                                          mode="determinate"
                                          value="100"
                                          color="primary"
                                          class="custom-progress-bar">
                                        </mat-progress-bar>
                                      
                                        <mat-progress-bar
                                          *ngIf="(!entity?.isSubmitted && entity?.progressStatus === 'inProgress') && !entity?.notApplicable"
                                          mode="determinate"
                                          [value]="entity?.completePercentage || 0"
                                          color="accent"
                                          class="custom-progress-bar">
                                        </mat-progress-bar>
                                      
                                        <mat-progress-bar
                                        *ngIf="!entity?.isSubmitted && (!entity?.progressStatus || entity?.progressStatus === 'notStarted') && !entity?.notApplicable"
                                          mode="determinate"
                                          value="0"
                                          color="warn"
                                          class="custom-progress-bar">
                                        </mat-progress-bar>
                                      </div>
                                </div>
                              </div>
                            <div class="btn-container" *ngIf="entity?.notApplicable" >
                            <p>{{"NOT_APPLICABLE" | translate}}</p>
                        </div>
                        </mat-card-content>
                    </mat-card>

                </div>
            </ng-container>
            <ng-template #noData>
                <p>{{'NO_DATA_MSG' | translate}}</p>
            </ng-template>
        </div>
    </div>
</div>

<app-spinner *ngIf="!loaded"></app-spinner>


<ng-template #notApplicableModel>
  <div class="p-16 flex flex-col items-center justify-center">
    <h1 mat-dialog-title>{{"NOT_APPLICABLE" | translate}}</h1>
    <mat-dialog-content>
        <p>{{ 'ADD_REMARKS' | translate }}</p>
        <mat-form-field appearance="fill" style="width: 100%;">
            <input matInput [(ngModel)]="remark" [placeholder]="'ENTER_REMARK' | translate">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="mat-dialog-actions">
        <button [mat-dialog-close]="'add'" class="primary-btn"
            [disabled]="!remark" [ngClass]="{'disabled-button': !remark}">{{"CONFIRM" | translate}}</button>
        <button mat-dialog-close="cancel" class="secondary-btn">{{"CANCEL"| translate}}</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #downloadModel>
  <mat-dialog-content>{{ 'DOWNLOAD_MSG'| translate}}</mat-dialog-content>
  <mat-dialog-actions class="mat-dialog-actions">
    <button [mat-dialog-close]="'yes'" class="primary-btn">{{"YES"|translate}}</button>
    <button mat-dialog-close="no" class="secondary-btn">{{"NO"| translate}}</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #ECMModel>
  <h1 mat-dialog-title>{{"CONFIRM" | translate}}</h1>
  <mat-dialog-content>{{ 'ECM_NOT_APPLICABLE'| translate}}</mat-dialog-content>
  <mat-dialog-actions class="mat-dialog-actions">
    <button [mat-dialog-close]="'cancel'" class="primary-btn">{{"CANCEL"|translate}}</button>
    <button mat-dialog-close="confirm" class="secondary-btn">{{"CONFIRM"| translate}}</button>
  </mat-dialog-actions>
</ng-template>