<div class="custom-dialog-backdrop">
    <div class="custom-dialog">
      <div class="dialog-header">
        <h3>{{ 'QUESTIONS' | translate }}</h3>
        <button mat-icon-button class="close-button" (click)="closeFilter()" aria-label="Close">
            <mat-icon>close</mat-icon>
          </button>
      </div>

      <hr class="custom-divider" />

      <div class="dialog-body">
        <ul class="question-list">
          <li *ngFor="let question of allQuestions">
            <label>
              <input type="checkbox" [(ngModel)]="question.selected" />
              {{ question.question }}
            </label>
          </li>
        </ul>
      </div>
  
      <div class="dialog-footer">
        <button class="btn primary" (click)="applyFilter()">{{ "APPLY_FILTER" | translate}}</button>
        <button class="btn outlined" (click)="resetFilter()">{{"RESET_FILTER" | translate}}</button>
      </div>
    </div>
  </div>
  